.card-container {
    display: flex;
    flex-direction: column;
    background-color: $gray-800;
    padding: 1.5rem;
    border-radius: 0.75em;  
    width: 327px;
    height: 579px;
    gap: $spacing-1;
    align-items: center;
}

.card-author__avatar {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-2; 
}

.card-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-6; 
}

.card-button {
    width: 279px;
    height: 48px;
    border-radius: 0.75rem;
    padding: 0.75rem;
    color: $white;
    background-color: $gray-700;
    border: none;
    cursor: pointer;
    @include typography($font-family-primary, 0.875rem, 700, 150%, 0px);
}

.card-buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing-3; 
}

.card-button:hover {
    background-color: $green;
    color: $gray-700;
}

.card-title {
@include typography($font-family-primary, 1.5rem, 700, 150%, 0px);
    color: $white;
}

.card-location {
    @include typography($font-family-primary, 0.875rem, 700, 150%, 0px);
    color: $green;
}

.card-bio {
 @include typography($font-family-primary, 0.875rem, 400, 150%, 0px);
    color: $white;
}