// HEX Colors
$green: #c4f82a;
$white: #ffffff;
$gray-700: #333333;
$gray-800: #1f1f1f;
$grey-900: #141414;

// RGB Colors
$green-rgb: rgb(196, 248,42);
$white-rgb: rgb(255, 255, 255);
$grey-700-rgb: rgb(51, 51, 51);
$grey-800-rgb: rgb(31, 31, 31);
$grey-900-rgb: rgb(20, 20, 20);


// HSL Colors
$green-hsl: hsl(75, 94%, 57%);
$white-hsl: hsl(0, 0%, 100%);
$grey-700-hsl: hsl(0, 0%, 20%);
$grey-800-hsl: hsl(0, 0%, 12%);
$grey-900-hsl: hsl(0, 0%, 8%);

// Font Family
$font-family-primary: 'Inter', sans-serif;

// Spacing Variables
$spacing-1: 2.5rem; // 40px
$spacing-2: 1.5rem; // 24px
$spacing-3: 1em; // 16px
$spacing-4: 0.75rem; // 12px
$spacing-5: 0.5rem; // 8px
$spacing-6: 0.25rem; // 4px